@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Krueza";
    font-weight: normal;
    src: url("fonts/VtksKrueza-BmGV.ttf") format("truetype");
  }

  html {
    font-family: "Krueza", sans-serif;
  }

  body {
    margin: 0;
  }
}
